body {
    max-height: 100vh;
}

.App {
    height: 100vh;
    display: flex;
    background: url("./images/background-blue.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.grid {
    display: grid;
    font-weight: 600;
    font-size: 1.3em;
    grid-template-columns: repeat(9, 1fr);
    margin: auto;
    width: 600px;
    height: 600px;
    border: 4px solid #946500;
    border-radius: 14px;
    box-sizing: border-box;
    background-color: #ffc107;
}

.cell {
    border: 1px solid #c39200d7;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.cell:hover{
    background-color: #00d9006a;
}

.cell-input{
    background-color: transparent;
    outline: none;
    border: none;
    width: 15px;
    caret-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 630px) {
    .grid {
        width: calc(100vw - 10px);
        height: calc(100vw - 10px);
        font-weight: 500;
        font-size: 1em;
    }
}