body{
    max-height: 100vh;
}
.App{
    height: 100vh;
    display: flex;
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin: auto;
    width: 600px;
    height: 600px;
    box-sizing: border-box;
}

.cell{
    border: 1px solid #bf9600;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 630px){
    .grid{
        width: calc(100vw - 10px);
        height: calc(100vw - 10px);
    }
}